@use '../abstracts/variables' as *;


.hero {
    &-section {
        padding: 150px 0;
        min-height: 100dvh;
        position: relative;
        overflow: hidden;
    }

    &-content {
        .smile-star-element {
            background-color: $pink;
            margin-bottom: 60px;
            margin-left: 34px;
            height: 150px;
            width: 150px;
        }
    }

    &-title {
        font-size: 80px;
        margin-bottom: 50px;
    }

    &-star-left {
        position: absolute;
        bottom: -30px;
        left: 0;
    }

    &-image-wrapper {
        max-width: 512px;
        margin-left: auto;

        .image-element {
            position: absolute;

            &.element-1 {
                left: -35px;
                top: 70px;
            }

            &.element-2 {
                bottom: 10px;
                right: -15px;
            }
        }

        .hero-image-box {
            background-color: rgba($color: $gray-light, $alpha: .19);
            border: 4px solid $black;
            overflow: hidden;
            display: flex;
            align-items: end;

            img {
                min-width: 100%;
            }
        }
    }
}

.skills {
    &-section {
        padding: 30px 0;
    }

    &-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;


        .skills {
            h2 {
                font-size: 48px;
                font-weight: normal;
            }
        }
    }
}

.portfolio {
    &-section {
        padding: 80px 0;
    }

    &-title {
        font-size: 80px;

        span {
            position: relative;

            &::after {
                content: '';
                height: 20px;
                width: calc(100% + 20px);
                position: absolute;
                background-image: url("../../assets/images/elements/after-line.svg");
                background-size: contain;
                background-repeat: no-repeat;
                bottom: -10px;
                left: 0;
            }
        }

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 100px;

            .smile-star-element {
                background-color: $sky;
                margin-left: 40px;
                height: 100px;
                width: 100px;
            }
        }
    }

    &-item {
        margin-bottom: 10px;

        &s-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 80px;

            .portfolio-item {
                width: calc(50% - 40px);
                padding: 30px;
            }

        }

        &-content {
            transition: all 0.3s ease;
        }

        &-image {
            border: 4px solid $black;
            margin-bottom: 30px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1.1);

            }
        }

        &-title-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        &-title {
            font-size: 36px;
            font-weight: bold;
        }

        &-link {
            height: 38px;
            width: 38px;
            background-color: $black;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;
            box-shadow: 6px 6px 0 0 rgba($color: $black, $alpha: 0.4);

            img {
                transform: rotate(42deg);
                transition: all 0.3s ease;
            }

            &:hover {
                box-shadow: -6px -6px 0 0 rgba($color: $black, $alpha: 0.4);

                img {
                    transform: rotate(90deg);
                }
            }
        }

        &-description {
            font-size: 24px;
            max-width: 60%;
            margin-bottom: 20px;
        }

        &:hover {
            .portfolio-item-content {
                text-decoration: underline;
            }
        }
    }
}

.clients-testimonial {
    &-section {
        padding: 50px 0 100px 0;
    }

    &-title {
        font-size: 48px;
        margin-bottom: 100px;
    }

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .testimonial-card {
            border: 4px solid $black;
            padding: 30px;
            width: calc(50% + 50px);
            background-color: $white;
            transition: ease all .3s;
            box-shadow: 12px 12px 0 0 rgba($color: $black, $alpha: 0.2);


            &:nth-of-type(odd) {
                margin-right: -50px;
                transform: rotate(3deg);
                margin-top: -80px;

                &:hover {
                    transform: rotate(-3deg);
                }
            }

            &:nth-of-type(even) {
                margin-left: -50px;
                transform: rotate(-3deg);
                margin-top: 80px;

                &:hover {
                    transform: rotate(0deg);
                }
            }

            .testimonial-content {
                .testimonial-text {
                    font-size: 28px;
                    margin-bottom: 40px;
                    max-width: 80%;
                }

                .testimonial-client-info {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }

                .client-image {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    border: 4px solid $black;

                    img {
                        max-width: 100%;
                    }
                }

                .client-name {
                    font-size: 28px;
                    font-weight: 600;
                }

                .client-role {
                    font-size: 26px;
                    color: $gray-light;
                }
            }
        }

    }
}

.contact-us {
    &-section {
        padding: 80px 0;
        background-color: $primary;
        color: $white;
    }

    &-wrapper {
        position: relative;
        border: 4px solid $black;
        background-color: $white;
        padding: 60px;
        text-align: center;
        color: $black;
        box-shadow: 20px 20px 0 0 rgba($color: $black, $alpha: 0.40);

        .contact-us-title {
            font-size: 48px;
            margin-bottom: 20px;
        }

        p {
            font-size: 32px;
            margin-bottom: 50px;
        }
    }

    &-star-element {
        position: absolute;
        top: -75px;
        right: 270px;
    }
}