@use '../abstracts/variables' as variables;


.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: variables.$primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: variables.$black;
    }

    &-star {

        &-left,
        &-right {
            position: absolute;
        }

        &-left {
            left: 0;
            bottom: -30px;
        }

        &-right {
            right: 0;
            top: 0;
        }
    }

    &-navbar {
        &-nav {
            position: relative;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &::before,
            &::after {
                position: absolute;
                background-color: rgba($color: variables.$black, $alpha: 0.25);
            }

            &::before {
                content: '';
                top: 13.6px;
                right: -10px;
                height: 80%;
                width: 6px;
            }

            &::after {
                content: '';
                height: 6px;
                width: calc(100% - 13.55px);
                bottom: -6px;
                right: 0px;
            }


        }

        .nav-box-element {
            width: 14px;
            height: 14px;
            border: 3px solid variables.$black;
            background-color: variables.$white;
            position: absolute;


            &.right {
                right: -13px;
            }

            &.top {
                top: -5px;
            }

            &.left {
                left: -5px;
            }

            &.bottom {
                bottom: -6px;
            }

            &.right,
            &.bottom {
                box-shadow: 5px 5px 0 0 rgba($color: variables.$black, $alpha: 0.25);
            }
        }

        ul {
            display: flex;
            align-items: center;
        }

        li,
        .brand-logo,
        .nav-toggler-wrapper {
            border: 4px solid variables.$black;
            padding: 0px 35px;
            margin-right: -4px;
            min-height: 90px;
            display: flex;
            align-items: center;
            background-color: variables.$white;
        }

        a {
            text-decoration: none;
            font-size: 24px;
            font-weight: 500;
            color: variables.$gray;
        }

        .brand-logo {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-left: 20px;
            padding-right: 100px;

            span {
                font-size: 36px;
            }
        }

        .nav-toggler-wrapper {
            display: none;


            .nav-toggler {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 4px;
                cursor: pointer;
                background-color: transparent;
                border: 0;
                box-shadow: none;

                height: 30px;
                width: 30px;

                span {
                    height: 4px;
                    width: 30px;
                    background-color: variables.$black;
                    display: block;
                    transition: all 0.3s ease;
                    border-radius: 3px;
                    opacity: 1;
                    visibility: visible;
                    transition: ease all 0.3s;
                }
            }
        }

    }
}

@media (max-width: 991px) {
    .header {
        padding: 30px 20px;

        &-star-left {
            display: none;
        }

        &-star-right {
            width: 50px;
            top: 0;
            right: 0;
        }

        &-navbar {
            width: 90%;
            justify-content: space-between;

            &.navbar-expand {
                ul {
                    display: block;
                    position: absolute;
                    width: calc(100% + 4px);
                    margin-left: 4px;
                    top: 140px;

                    &::after {
                        content: "";
                        position: absolute;
                        background-color: variables.$primary;
                        height: 100dvh;
                        width: 150%;
                        top: -20px;
                        z-index: -1;
                        left: -25%;
                    }

                    li {
                        margin-top: -4px;
                        margin-right: 0;
                    }
                }

                .nav-toggler {
                    span {


                        &:nth-child(1) {
                            transform: rotate(45deg) translateY(6px) translateX(6px);
                        }

                        &:nth-child(2) {
                            opacity: 0;
                            visibility: hidden;
                        }

                        &:nth-child(3) {
                            transform: rotate(-45deg) translateY(-5px) translateX(5px);
                        }
                    }
                }
            }

            ul {
                display: none;
            }

            .brand-logo,
            .nav-toggler-wrapper {
                width: 52%;
            }

            .nav-toggler-wrapper {
                display: flex;
                justify-content: end;
                border-left: 0;
            }
        }


    }
}

@media (max-width: 767px) {

    .header {
        &-star-right {
            width: 40px;
            top: 0;
            right: 0;
        }

        &-navbar {
            &.navbar-expand {
                ul {
                    top: 125px;

                    &::after {
                        content: "";
                        top: -40px;
                    }
                }
            }

            li {
                padding: 0 20px;
            }

            li,
            .brand-logo,
            .nav-toggler-wrapper {
                min-height: 70px;
            }

            .brand-logo {
                img {
                    width: 30px;
                }

                span {
                    font-size: 24px;
                }
            }

            .nav-toggler-wrapper {
                padding-right: 20px;
            }
        }
    }
}