@use '../abstracts/variables' as *;

.btn {
    display: inline-block;
    padding: 15px 35px;
    font-size: 29px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 40px;
    transition: background-color 0.3s ease;

    &-primary {
        background-color: $sky;
        border: 4px solid $black;
        color: $black;
        position: relative;
        transition: all 0.3s ease;

        &::after {
            content: "";
            position: absolute;
            right: -50px;
            top: 30px;
            background-image: url("../../assets/images/elements/btn-element.svg");
            width: 40px;
            height: 80px;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0;
            transform: rotate(33deg) translate(-24px, 5px);
            transition: all 0.5s ease;
        }

        &:hover {
            transform: rotate(3deg);

            &::after {
                content: "";
                opacity: 1;
                transform: rotate(33deg) translate(0px, 0px);
            }
        }
    }
}