@use '../abstracts/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: $black;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}